ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
  border-bottom: 4px solid lightblue;
  border-top: 4px solid lightblue;
}
li{
  display: inline-block;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.5rem;
  display: block;
}
a:hover {
  background-color: lightblue;
  color: white;
}

h1{text-align: center;}

h2{font-size:17px;
text-align: center;}

table {
  width: 1000px;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
 vertical-align: middle;
}
/*table center alignment, table header cells*/

th, td {
    border: none;
    padding: 8px;
  }
/*solid boarder*/

  thead th {
    width: 30%;
  }

  body {
    font-family: sans-serif;
  }

  caption {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    
    color: #333;
  }
  /*table caption*/

  thead {
    background-color: #333;
    color: white;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
  
  tbody th {
    background-color:grey;
    color: black;
    text-align: center;
  }
  /*filled cell color*/
  .cell-highlight {
    background-color:brown;
    font-weight: bold;
  }
body{text-alignï¼šcenter;}





.mySlides {display:none;}
  
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: white;
   text-align: center;
}

div{text-align:center}

.a{background-color:lightblue;}
.b{background-color:yellow;}
.c{background-color:pink;}
.d{background-color:#333;
color:white}
.slogan{
display: table-cell;}
.e{float:left;}
.g{float:right;}